.tar.gz filter=lfs diff=lfs merge=lfs -text
.zip filter=lfs diff=lfs merge=lfs -text
exe.win-amd64-3.5.zip filter=lfs diff=lfs merge=lfs -text
exe.linux-x86_64-3.5.tar.gz filter=lfs diff=lfs merge=lfs -text
